In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/input/Cleaned_DS_jobs.csv")

In [12]:
jd = df['Job Description'][1]

In [35]:
keywords = list(df.columns[-9:-2])

In [36]:
keywords.append('sql')
keywords.append('mysql')
keywords.append('my sql')
keywords.append('power bi')

'big_data'

In [39]:
keywords[-5] = "big data"

In [30]:
jds = df['Job Description']

In [40]:
kws = []
for job in jds:
    kw = []
    for i in keywords:
        if i in job.lower():
            kw.append(i)
    kws.append(kw)
kws

[['aws'],
 ['hadoop', 'big data', 'sql'],
 ['python', 'excel', 'aws'],
 ['python', 'excel', 'aws', 'sql'],
 ['python', 'excel', 'sql', 'mysql'],
 ['python', 'excel', 'hadoop', 'spark', 'sql', 'mysql'],
 ['python'],
 ['python', 'sql'],
 [],
 ['python', 'sql'],
 ['python', 'excel', 'aws'],
 ['python', 'spark', 'sql'],
 ['excel'],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'excel', 'aws'],
 ['python', 'excel', 'hadoop', 'spark', 'tableau', 'sql'],
 ['python', 'hadoop', 'sql'],
 ['excel'],
 [],
 [],
 ['python', 'hadoop', 'spark', 'big data'],
 ['excel'],
 [],
 ['sql'],
 ['python', 'excel', 'sql'],
 ['python',
  'excel',
  'hadoop',
  'spark',
  'aws',
  'tableau',
  'big data',
  'power bi'],
 ['python', 'hadoop', 'spark', 'big data', 'sql'],
 ['python', 'tableau', 'sql'],
 ['excel', 'spark', 'big data'],
 ['python', 'excel', 'aws'],
 ['python'],
 ['python', 'excel', 'sql'],
 [],
 ['excel', 'aws', 'big data', 'sql'],
 ['excel', 'hadoop', 'spark', 'sql'],
 ['python', 'excel', 'tableau', 'sql', 'power bi'],
 ['python', 'excel', 'aws', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'sql', 'mysql'],
 ['python', 'excel', 'aws', 'tableau', 'sql'],
 ['python', 'excel', 'sql'],
 ['python', 'excel', 'spark', 'aws', 'big data'],
 ['sql'],
 [],
 ['python'],
 ['python', 'excel', 'aws'],
 [],
 ['python', 'excel'],
 ['python', 'excel', 'tableau'],
 ['python', 'excel', 'tableau', 'sql', 'power bi'],
 ['python', 'excel', 'tableau', 'sql', 'mysql'],
 ['python', 'spark', 'sql'],
 ['python', 'excel', 'spark', 'big data'],
 ['excel', 'sql'],
 ['excel', 'aws', 'tableau'],
 ['python', 'excel', 'big data'],
 ['python'],
 ['python', 'spark', 'sql'],
 ['python', 'excel'],
 ['python', 'excel', 'sql'],
 ['python', 'excel'],
 ['python', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'sql', 'mysql'],
 ['excel', 'tableau', 'sql', 'power bi'],
 ['python', 'sql'],
 ['python', 'tableau', 'sql'],
 ['python', 'excel', 'tableau', 'big data', 'sql'],
 ['python', 'aws', 'sql'],
 ['python', 'excel', 'spark'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'sql'],
 ['python', 'aws', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'big data'],
 ['excel', 'tableau', 'sql'],
 [],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'excel', 'big data', 'sql'],
 ['python', 'spark', 'aws'],
 ['python', 'sql'],
 ['python', 'aws'],
 ['python', 'hadoop', 'sql'],
 [],
 ['hadoop', 'spark', 'aws', 'big data', 'sql'],
 ['python', 'hadoop', 'spark', 'aws'],
 ['python', 'spark', 'aws', 'sql', 'mysql'],
 ['python', 'sql'],
 [],
 ['python', 'aws', 'big data', 'sql'],
 ['python'],
 ['python', 'spark', 'aws'],
 ['python', 'excel', 'sql'],
 ['python', 'hadoop', 'spark', 'aws', 'sql'],
 ['python', 'hadoop', 'spark', 'tableau', 'big data', 'sql'],
 ['python', 'excel', 'aws'],
 [],
 ['python', 'spark', 'sql'],
 ['python', 'spark'],
 [],
 ['excel', 'tableau'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'sql'],
 ['python'],
 ['python', 'hadoop', 'spark', 'big data', 'sql'],
 [],
 ['python', 'excel', 'tableau', 'sql', 'power bi'],
 ['hadoop', 'big data', 'sql'],
 ['python', 'aws', 'sql', 'mysql'],
 ['python', 'excel', 'hadoop', 'aws', 'big data'],
 ['python'],
 ['excel', 'spark'],
 ['excel', 'tableau', 'sql'],
 ['python', 'big data', 'sql'],
 ['python'],
 ['python', 'hadoop', 'spark', 'aws', 'tableau', 'sql'],
 ['python', 'excel', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'big data'],
 ['python', 'excel', 'sql'],
 ['excel'],
 ['python', 'sql'],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'spark'],
 ['python', 'excel', 'aws'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'sql'],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'excel', 'spark', 'aws'],
 ['python', 'spark', 'sql'],
 ['python', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'sql'],
 ['python', 'excel', 'spark', 'aws'],
 ['sql'],
 ['python', 'hadoop', 'spark', 'aws', 'big data', 'sql', 'mysql'],
 ['python', 'excel', 'sql', 'power bi'],
 ['python', 'spark', 'tableau', 'sql'],
 ['python', 'hadoop', 'spark', 'aws', 'big data', 'sql', 'mysql'],
 ['python'],
 ['python', 'hadoop', 'spark', 'tableau', 'big data'],
 ['excel', 'hadoop', 'spark', 'big data'],
 ['excel', 'sql'],
 ['excel', 'spark', 'tableau', 'sql'],
 ['python', 'hadoop', 'spark', 'aws', 'tableau', 'big data', 'sql'],
 ['python'],
 ['python', 'excel'],
 ['excel'],
 ['excel', 'sql'],
 [],
 ['aws', 'big data', 'sql'],
 ['excel', 'tableau', 'sql'],
 ['python', 'excel', 'hadoop', 'big data', 'sql'],
 [],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'sql'],
 ['excel'],
 [],
 ['python', 'excel'],
 ['python', 'excel', 'aws'],
 ['python', 'excel', 'hadoop', 'spark', 'tableau', 'sql'],
 ['python'],
 ['aws', 'big data'],
 ['python', 'spark', 'aws', 'big data', 'sql'],
 ['python', 'excel', 'aws', 'tableau', 'sql'],
 [],
 ['python', 'excel', 'sql'],
 [],
 ['python', 'excel', 'sql', 'power bi'],
 ['python', 'hadoop', 'spark', 'big data', 'sql'],
 ['python', 'hadoop', 'spark', 'tableau', 'big data', 'sql'],
 ['python', 'hadoop', 'spark', 'aws', 'big data', 'sql'],
 ['excel', 'tableau', 'sql'],
 ['excel'],
 ['python', 'aws', 'sql'],
 ['python', 'excel'],
 ['python', 'hadoop'],
 ['python', 'excel', 'sql'],
 ['python', 'aws', 'sql'],
 ['python', 'excel', 'aws', 'sql'],
 ['excel'],
 ['python', 'hadoop', 'sql'],
 ['python'],
 ['excel'],
 ['excel'],
 ['python', 'hadoop', 'spark', 'aws', 'sql'],
 ['python'],
 ['python', 'tableau', 'sql'],
 ['python', 'hadoop', 'spark', 'aws', 'sql'],
 ['python', 'excel', 'aws'],
 ['python', 'excel', 'aws'],
 ['python', 'sql', 'mysql'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'big data'],
 ['python', 'sql'],
 ['python', 'aws', 'big data'],
 ['python', 'excel'],
 ['python', 'sql'],
 ['python'],
 ['python', 'excel', 'spark', 'aws', 'big data', 'sql'],
 [],
 [],
 ['excel', 'tableau', 'sql'],
 ['sql'],
 ['python', 'excel'],
 ['python'],
 ['python', 'excel', 'hadoop', 'big data', 'sql'],
 [],
 ['python', 'excel', 'aws', 'big data', 'sql'],
 ['excel'],
 ['sql'],
 ['excel'],
 ['python', 'spark', 'big data'],
 ['python', 'excel', 'aws', 'sql'],
 ['python', 'excel', 'big data', 'sql'],
 ['python', 'spark', 'big data'],
 ['python'],
 ['python', 'excel'],
 ['python', 'hadoop', 'spark', 'aws', 'sql'],
 ['python'],
 ['tableau', 'sql'],
 ['excel', 'hadoop', 'spark', 'big data', 'sql'],
 ['python', 'aws', 'sql'],
 ['sql'],
 ['python', 'hadoop', 'spark', 'big data'],
 ['python',
  'excel',
  'hadoop',
  'spark',
  'aws',
  'tableau',
  'big data',
  'power bi'],
 ['python', 'excel', 'aws', 'sql'],
 ['python', 'aws', 'sql'],
 ['python', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'big data', 'sql'],
 ['python', 'big data'],
 ['python'],
 ['python', 'excel', 'tableau'],
 ['excel', 'aws', 'big data'],
 ['excel'],
 ['python'],
 [],
 ['python', 'hadoop', 'spark', 'aws', 'sql'],
 ['excel', 'sql'],
 ['python', 'hadoop', 'tableau', 'sql'],
 ['python', 'tableau', 'sql'],
 ['python'],
 ['python', 'excel', 'sql'],
 [],
 ['python', 'excel', 'aws', 'sql'],
 ['big data'],
 ['python', 'sql'],
 ['python', 'tableau', 'big data', 'sql'],
 ['python', 'big data', 'sql'],
 ['python', 'spark', 'sql'],
 ['python'],
 ['python'],
 ['python', 'hadoop', 'spark', 'aws', 'sql'],
 ['sql'],
 ['python', 'excel', 'sql'],
 ['python', 'excel'],
 ['python', 'excel'],
 ['python', 'aws', 'sql'],
 ['excel', 'sql'],
 ['python', 'sql', 'mysql'],
 ['python', 'excel', 'sql'],
 ['python', 'spark', 'tableau', 'big data', 'sql'],
 ['python', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'big data'],
 ['python', 'hadoop', 'spark', 'big data', 'sql'],
 ['excel', 'hadoop', 'spark', 'sql'],
 [],
 ['python', 'excel', 'aws', 'sql'],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'hadoop', 'spark', 'big data'],
 ['python', 'hadoop', 'tableau', 'big data', 'sql'],
 ['python', 'excel', 'aws', 'sql'],
 ['python', 'aws', 'big data'],
 ['python', 'excel', 'tableau', 'sql', 'power bi'],
 ['python', 'aws', 'tableau', 'sql'],
 ['python', 'spark', 'big data', 'sql'],
 ['python', 'sql'],
 ['python', 'excel', 'big data'],
 ['aws', 'tableau'],
 ['python', 'hadoop', 'spark', 'aws', 'tableau', 'sql'],
 [],
 ['spark'],
 ['python', 'excel', 'aws', 'tableau', 'sql'],
 ['python', 'excel', 'tableau', 'sql', 'power bi'],
 [],
 ['python', 'excel', 'aws', 'tableau', 'sql'],
 ['python', 'excel', 'sql'],
 [],
 ['python'],
 ['python', 'excel', 'hadoop', 'spark', 'big data', 'sql'],
 ['python', 'excel', 'spark', 'aws', 'big data', 'sql'],
 ['python', 'sql'],
 ['python', 'excel', 'tableau', 'sql', 'power bi'],
 ['python'],
 ['python', 'aws'],
 ['python', 'excel', 'spark', 'aws', 'tableau', 'sql'],
 ['python', 'sql'],
 ['python', 'sql'],
 ['python', 'spark', 'sql'],
 ['excel', 'tableau', 'sql', 'power bi'],
 ['python', 'spark', 'sql', 'mysql'],
 [],
 ['python', 'hadoop', 'big data', 'sql'],
 ['python', 'aws', 'big data', 'sql'],
 ['python', 'excel', 'hadoop', 'spark'],
 [],
 ['python', 'tableau', 'sql'],
 ['python', 'tableau', 'sql'],
 ['python', 'excel'],
 ['python', 'excel'],
 ['excel'],
 ['python', 'hadoop', 'spark', 'big data', 'sql'],
 [],
 [],
 ['python', 'excel', 'tableau'],
 ['python', 'spark', 'aws', 'sql'],
 ['python', 'hadoop', 'spark', 'big data'],
 ['python', 'aws', 'sql'],
 ['python', 'excel', 'tableau'],
 ['excel', 'tableau', 'sql'],
 ['excel', 'sql'],
 [],
 ['aws'],
 ['excel', 'big data'],
 ['python', 'excel', 'tableau'],
 ['python', 'excel'],
 ['python', 'excel', 'hadoop', 'big data', 'sql'],
 ['big data', 'sql'],
 ['python'],
 ['python', 'excel', 'spark', 'aws', 'big data', 'sql', 'mysql'],
 ['python', 'excel', 'sql'],
 ['python'],
 ['python', 'excel', 'spark', 'aws', 'big data', 'sql'],
 [],
 ['python', 'excel', 'sql'],
 [],
 ['excel'],
 ['python', 'excel', 'sql'],
 ['sql'],
 ['python'],
 ['python'],
 ['python', 'tableau', 'sql'],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'excel', 'spark'],
 ['python', 'excel', 'spark', 'big data'],
 ['python'],
 ['sql'],
 [],
 ['python', 'hadoop', 'spark', 'aws'],
 ['python', 'hadoop', 'spark', 'big data', 'sql'],
 [],
 ['aws', 'big data', 'sql', 'mysql'],
 [],
 ['excel', 'spark'],
 ['python', 'spark', 'aws'],
 ['python', 'hadoop', 'spark', 'aws', 'sql', 'mysql'],
 ['python', 'spark', 'big data'],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'spark', 'aws'],
 ['python', 'spark', 'aws'],
 ['python', 'spark', 'aws'],
 ['python', 'spark', 'aws'],
 ['python', 'spark', 'aws'],
 ['python', 'spark', 'aws'],
 ['python', 'excel', 'big data', 'sql'],
 ['python', 'excel', 'tableau', 'sql', 'power bi'],
 ['python', 'spark', 'sql'],
 ['python', 'hadoop', 'spark', 'tableau', 'sql'],
 ['python', 'excel'],
 ['python', 'sql'],
 ['python'],
 ['python', 'hadoop', 'spark', 'aws', 'sql'],
 [],
 ['python', 'hadoop', 'big data'],
 ['python', 'sql'],
 [],
 ['python'],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'sql'],
 ['python', 'excel', 'sql'],
 ['python', 'excel', 'big data', 'sql'],
 ['tableau', 'sql'],
 ['excel', 'hadoop', 'spark', 'big data', 'sql'],
 ['python', 'sql'],
 ['python', 'spark', 'aws', 'big data', 'sql'],
 ['python', 'tableau', 'sql'],
 [],
 ['excel'],
 ['excel'],
 ['python', 'excel', 'spark', 'tableau', 'sql'],
 ['python', 'excel', 'spark', 'tableau', 'sql'],
 ['python', 'aws', 'sql'],
 ['python', 'excel'],
 ['excel', 'power bi'],
 ['python', 'sql'],
 ['aws'],
 ['python', 'sql', 'mysql'],
 ['excel'],
 ['python'],
 ['python'],
 [],
 ['python', 'excel', 'sql'],
 ['tableau', 'sql', 'power bi'],
 [],
 ['excel', 'tableau', 'sql', 'power bi'],
 ['excel'],
 ['spark', 'aws'],
 ['python'],
 ['python', 'spark', 'sql'],
 ['python', 'hadoop', 'spark', 'tableau'],
 ['aws'],
 ['python'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'big data', 'sql'],
 ['python', 'hadoop', 'spark', 'tableau', 'big data'],
 ['python', 'big data', 'sql'],
 ['python', 'tableau', 'sql'],
 ['python', 'big data', 'sql'],
 ['python', 'sql', 'mysql'],
 ['python', 'hadoop', 'tableau', 'big data'],
 ['python', 'excel', 'sql'],
 ['python', 'sql'],
 ['python', 'hadoop', 'spark', 'sql'],
 ['excel', 'tableau', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'sql'],
 ['python', 'hadoop', 'spark', 'big data'],
 ['python'],
 ['excel', 'sql'],
 ['python', 'excel'],
 ['python', 'tableau', 'sql'],
 ['python', 'excel', 'big data'],
 [],
 ['python', 'excel'],
 ['excel', 'big data'],
 ['python', 'excel', 'hadoop', 'big data', 'sql'],
 ['python', 'excel', 'tableau', 'sql'],
 [],
 ['python', 'sql'],
 ['python', 'spark'],
 ['python', 'excel', 'sql'],
 ['excel'],
 ['python', 'excel', 'big data'],
 ['python', 'aws'],
 ['python', 'excel', 'hadoop', 'tableau', 'sql'],
 ['excel', 'aws', 'sql'],
 ['python', 'excel', 'big data'],
 ['python', 'hadoop', 'spark', 'sql'],
 [],
 ['python', 'excel'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'big data'],
 ['python', 'tableau', 'power bi'],
 [],
 ['python', 'excel', 'hadoop', 'spark', 'sql'],
 ['python', 'spark', 'aws', 'big data', 'sql'],
 ['python', 'excel', 'aws'],
 ['python', 'hadoop', 'aws', 'tableau', 'sql'],
 ['python', 'excel', 'sql'],
 ['python', 'excel', 'sql'],
 ['python', 'excel', 'tableau'],
 ['python'],
 ['python'],
 ['python', 'hadoop', 'spark', 'aws', 'tableau', 'sql'],
 ['python', 'excel', 'tableau', 'sql', 'power bi'],
 ['python', 'sql'],
 ['python', 'hadoop', 'spark', 'aws', 'big data', 'sql'],
 ['python', 'tableau', 'sql'],
 ['python', 'sql'],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'aws', 'sql'],
 ['python', 'excel', 'tableau', 'big data', 'sql'],
 ['python', 'excel', 'spark'],
 ['sql'],
 ['python', 'excel', 'tableau', 'sql', 'power bi'],
 ['python', 'hadoop', 'spark', 'aws'],
 ['python', 'sql'],
 [],
 ['python', 'excel', 'tableau'],
 ['python', 'excel', 'hadoop', 'spark', 'sql'],
 ['python', 'excel', 'aws', 'sql'],
 ['python', 'excel', 'hadoop'],
 ['excel'],
 ['aws', 'big data', 'sql', 'mysql'],
 ['python', 'excel', 'sql', 'power bi'],
 ['sql'],
 ['python', 'hadoop', 'aws'],
 ['excel', 'spark'],
 ['python', 'spark', 'aws'],
 ['python', 'spark', 'big data'],
 ['python', 'aws', 'sql'],
 ['python', 'spark', 'aws'],
 ['python', 'excel', 'tableau', 'big data'],
 ['python', 'sql'],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'excel', 'aws', 'sql'],
 ['python', 'spark', 'big data', 'sql'],
 ['python', 'excel', 'hadoop', 'big data', 'sql'],
 ['python', 'spark', 'aws'],
 ['python', 'spark', 'aws'],
 ['python', 'spark', 'aws'],
 ['python', 'spark', 'aws'],
 ['python', 'spark', 'aws'],
 ['python', 'spark', 'aws'],
 ['python', 'excel', 'hadoop', 'tableau', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'sql'],
 ['python', 'sql'],
 ['sql'],
 [],
 ['python', 'aws'],
 ['python', 'spark', 'big data'],
 ['python', 'excel', 'hadoop', 'spark', 'big data', 'sql'],
 ['python', 'hadoop', 'sql'],
 ['python', 'sql'],
 ['python', 'excel'],
 ['python', 'excel', 'big data', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'sql'],
 ['python', 'hadoop', 'spark', 'tableau', 'sql'],
 ['python', 'sql'],
 ['python', 'excel'],
 ['excel', 'aws'],
 ['python'],
 ['excel'],
 ['python', 'hadoop', 'spark', 'aws', 'tableau', 'sql', 'power bi'],
 ['python', 'excel', 'spark', 'big data', 'sql'],
 ['excel'],
 ['python', 'excel'],
 ['excel', 'hadoop', 'spark', 'aws', 'big data'],
 ['python', 'sql'],
 [],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'excel', 'tableau', 'sql', 'power bi'],
 ['python', 'hadoop', 'spark', 'aws'],
 [],
 ['python', 'excel', 'tableau', 'sql', 'power bi'],
 ['python', 'excel', 'tableau', 'sql'],
 ['python', 'excel', 'aws'],
 ['excel'],
 [],
 [],
 ['python', 'sql'],
 ['python'],
 ['python', 'sql'],
 ['python', 'excel', 'sql'],
 ['python', 'excel', 'big data', 'sql'],
 ['python', 'excel', 'sql'],
 ['python', 'excel', 'big data'],
 ['excel', 'hadoop', 'spark', 'big data', 'sql'],
 [],
 ['python', 'excel', 'big data', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'big data', 'sql'],
 ['python', 'spark', 'aws', 'big data', 'sql'],
 ['python', 'aws'],
 ['python', 'spark', 'aws', 'sql', 'mysql'],
 ['python', 'excel', 'hadoop', 'spark'],
 ['python', 'tableau', 'sql'],
 ['python'],
 ['excel'],
 ['python', 'excel', 'spark', 'tableau', 'sql'],
 ['python', 'aws', 'sql'],
 ['python', 'sql'],
 ['python', 'sql'],
 ['hadoop', 'big data'],
 ['python', 'sql'],
 ['python', 'hadoop', 'spark', 'big data', 'sql'],
 ['python', 'hadoop'],
 ['python', 'excel', 'hadoop', 'spark', 'big data', 'sql'],
 ['aws'],
 ['python', 'spark', 'sql', 'power bi'],
 ['python', 'hadoop', 'spark', 'aws', 'big data', 'sql'],
 ['hadoop', 'sql', 'mysql'],
 ['python'],
 ['python', 'excel', 'hadoop', 'spark', 'tableau', 'big data'],
 ['python', 'spark', 'aws'],
 ['python', 'aws', 'big data', 'sql'],
 ['python', 'excel', 'aws', 'big data'],
 ['python'],
 ['python'],
 [],
 ['python', 'excel', 'sql'],
 ['python', 'aws'],
 ['tableau', 'sql', 'power bi'],
 [],
 ['excel', 'aws'],
 ['spark', 'tableau', 'sql', 'power bi'],
 ['excel'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'big data', 'sql', 'mysql'],
 ['spark', 'aws'],
 [],
 ['python', 'sql'],
 ['excel', 'tableau', 'sql', 'power bi'],
 ['python', 'hadoop', 'spark', 'tableau', 'sql'],
 [],
 ['python', 'aws', 'sql'],
 ['python', 'excel', 'sql'],
 ['python', 'hadoop', 'spark', 'big data', 'sql'],
 ['python', 'excel', 'sql', 'power bi'],
 ['python', 'hadoop', 'aws', 'tableau', 'sql'],
 [],
 ['python', 'excel', 'hadoop', 'aws', 'tableau', 'sql'],
 ['python'],
 ['python', 'excel', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'tableau', 'big data', 'sql'],
 ['python', 'hadoop', 'aws'],
 ['excel', 'spark'],
 ['python', 'spark', 'big data'],
 ['python', 'excel', 'tableau', 'big data'],
 ['python', 'sql'],
 ['excel'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'big data', 'sql', 'mysql'],
 ['python'],
 [],
 ['python', 'excel', 'hadoop', 'big data', 'sql'],
 ['python', 'hadoop', 'spark', 'tableau', 'big data', 'sql'],
 ['python', 'excel', 'aws', 'big data', 'sql'],
 [],
 ['excel'],
 ['python', 'excel', 'aws', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'big data', 'sql', 'mysql'],
 ['aws'],
 ['python', 'spark', 'sql', 'mysql'],
 ['python', 'excel', 'hadoop', 'sql'],
 ['python', 'sql'],
 ['excel', 'hadoop', 'spark', 'aws', 'tableau', 'sql', 'power bi'],
 ['python', 'excel', 'hadoop', 'spark', 'tableau', 'sql', 'mysql'],
 ['python', 'hadoop', 'spark', 'tableau', 'sql'],
 ['hadoop', 'spark'],
 ['python'],
 ['python', 'excel', 'hadoop', 'tableau', 'sql'],
 ['python', 'excel', 'spark', 'big data', 'sql'],
 [],
 ['python', 'excel', 'aws'],
 ['python', 'spark'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'sql'],
 ['python',
  'excel',
  'hadoop',
  'spark',
  'aws',
  'tableau',
  'big data',
  'sql',
  'power bi'],
 ['python', 'aws'],
 ['python', 'spark', 'big data'],
 ['sql'],
 ['python', 'excel', 'big data', 'sql'],
 ['python', 'hadoop', 'spark'],
 ['python', 'excel'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'sql'],
 ['python', 'excel', 'hadoop', 'spark', 'aws', 'sql'],
 ['python'],
 ['excel', 'sql', 'mysql'],
 ['python', 'big data'],
 ['python', 'hadoop', 'spark', 'tableau', 'sql'],
 ['python', 'excel'],
 ['python', 'sql'],
 ['python'],
 ['excel'],
 ['python', 'hadoop', 'spark', 'aws', 'sql'],
 [],
 ['python', 'excel', 'spark', 'aws'],
 ['excel', 'aws'],
 ['python', 'hadoop', 'spark', 'aws', 'tableau', 'sql', 'power bi'],
 ['excel', 'aws'],
 ['python',
  'excel',
  'hadoop',
  'spark',
  'aws',
  'tableau',
  'big data',
  'sql',
  'power bi'],
 ['python', 'excel', 'spark', 'big data', 'sql'],
 ['python', 'hadoop', 'big data'],
 ['python', 'sql'],
 ['python', 'excel', 'tableau', 'sql'],
 [],
 ['python', 'hadoop', 'spark', 'big data', 'sql'],
 ['python', 'hadoop', 'sql'],
 ['python', 'excel', 'sql'],
 ['python', 'sql'],
 ['python', 'excel', 'hadoop', 'tableau', 'big data', 'sql', 'power bi'],
 [],
 ['python', 'excel', 'hadoop', 'tableau', 'sql', 'power bi'],
 ['python', 'hadoop', 'spark', 'big data', 'sql'],
 ['python', 'excel', 'tableau', 'sql']]

In [42]:
df['keywords'] = kws
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority,keywords
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,0,0,0,0,1,0,0,data scientist,senior,[aws]
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,0,0,1,0,0,0,1,data scientist,na,"[hadoop, big data, sql]"
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,1,1,0,0,1,0,0,data scientist,na,"[python, excel, aws]"
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,1,1,0,0,1,0,0,data scientist,na,"[python, excel, aws, sql]"
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,1,1,0,0,0,0,0,data scientist,na,"[python, excel, sql, mysql]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,...,1,1,1,0,0,1,1,data scientist,na,"[python, excel, hadoop, tableau, big data, sql..."
656,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,0.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,...,0,0,0,0,0,0,0,data scientist,na,[]
657,Data Scientist,105-167,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,...,1,1,1,0,0,1,0,data scientist,na,"[python, excel, hadoop, tableau, sql, power bi]"
658,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,...,1,0,1,1,0,0,1,data scientist,na,"[python, hadoop, spark, big data, sql]"
659,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,...,1,1,0,0,0,1,0,data scientist,na,"[python, excel, tableau, sql]"